---
import Layout from '../layouts/Layout.astro';
import MainSection from "../components/home/MainSection.astro";
import AboutSection from '../components/home/AboutSection.astro';
import Social from '../components/header/Social.astro';
import { Image } from 'astro:assets';
import logo from "../assets/logo.png";
import ServiceSection from '../components/home/ServiceSection.astro';

---

<Layout title="Welcome to Astro.">
	<MainSection />
	<div class="h-[90vh] md:h-[90vh]">
	</div>
	<AboutSection />
	<ServiceSection />
</Layout>
<style>
	section {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
<!-- <script>
	import { animate, inView } from "motion"
	import Typewriter from 'typewriter-effect';
	
	var type = new Typewriter('#typewriter', {
	  cursor: "",
	  autoStart: true,
	  loop: true,
	  delay: 'natural',
	  pauseFor: 500,
	});
	
	  type.pauseFor(500)
	  .typeString('Consulenze').pauseFor(10000).deleteChars(10)
	  .typeString('Trattamenti').pauseFor(10000).deleteChars(12)
	  .typeString('Percorsi').pauseFor(8000).deleteChars(10).start()
	
	  var subType = new Typewriter('#typewriter_sub', {
		string: ["Tarologica", "Numerologica", "Oracolare"],
		cursor: "",
		autoStart: true,
		loop: true,
		delay: 'natural',
		deleteSpeed: 30,
	  pauseFor: 500,
	  })
	  subType.pauseFor(2000)
	  .typeString('Tarologiche, Oracolari e Numerologiche')
	  .pauseFor(1500)
	  .deleteChars(40)
	  .pauseFor(1500)
	  .typeString('Reiki, Cristalloterapia, Medicina Olistica e altro...')
	  .pauseFor(1000)
	  .deleteChars(60)
	  .typeString('Workshop, Seminari, Laboratori Didattici...')
	  .pauseFor(1000)
	  .deleteChars(16)
	  .start()
	
	  animate(
		 "#box_logo",
		 {opacity: [
		 0, // 0.5
		 1,
	  ],},{ duration: 2 }
	  )
	
	  inView("#services_container", ({ target }) => {
	  animate(
		 target.querySelectorAll("#consulenze_container"),
		 { opacity: [0, 1], transform: "none" },
		 { delay: 0.3, duration: 2, easing: [0.33, 0.66, 0.66, 1] }
	  );
	});
	inView("#services_container", ({ target }) => {
	  animate(
		 target.querySelectorAll("#trattamenti_container"),
		 { opacity: [0, 1], transform: "none" },
		 { delay: 0.6, duration: 2, easing: [0.33, 0.66, 0.66, 1] }
	  );
	});
	inView("#services_container", ({ target }) => {
	  animate(
		 target.querySelectorAll("#percorsi_container"),
		 { opacity: [0, 1], transform: "none" },
		 { delay: 0.9, duration: 2, easing: [0.33, 0.66, 0.66, 1] }
	  );
	});
	
	  animate("#chevron_down", {
		y:[0,5,-5,0]
	  },
	  {
		duration:2,
		offset: [0, 0.25, 0.75],
		repeat: Infinity,
		});
	</script> -->