---
import Layout from '../layouts/Layout.astro';
import MainSection from "../components/home/MainSection.astro";

---

<Layout title="Welcome to Astro.">
	<MainSection slot="first"/>
	<section class="h-screen w-screen flex items-center justify-center">
		second box
	</section>
	<section class="h-screen w-screen flex items-center justify-center">
		third box
	</section>
</Layout>