---

---
<div class="hero min-h-[450px]" style="background-image: url(https://res.cloudinary.com/dk6qm2dhs/image/upload/f_auto,q_auto/v1/homepage/feektgnujtwj7awbw2a4);">
   <div class="hero-overlay bg-opacity-60"></div>
   <div class="hero-content text-center text-neutral-content">
     <div class=" max-w-3xl">
       <h4 class="mb-5 text-2xl playfair text-white">“Il est connû à chacun selon la largeur de sa porte.”
         <br>
         A ciascuno è dato conoscere secondo l’ampiezza della sua porta.
       </h4>
       <h5 class="text-white/70 spacing text-xs">- Christiane Trotier</h5>
     </div>
   </div>
 </div>