---
import type {Block} from '../../interfaces/tableRow';
import fetchNotionData from '../../utils/fetchNotionData';
import { Image } from 'astro:assets';
import myImage from "../../assets/studio.webp"
import Social from '../header/Social.astro';

const defaultTitoli : String[] = ["Consulente Olistica", "Operatrice Bioenergetica", "Ricercatrice Spirituale"];
const firstSection = import.meta.env.MAIN_TITLE_BLOCK
const titoliDiStudio = import.meta.env.TABLE_TITLES_BLOCK
const hiddenTitle = import.meta.env.HIDDEN_TITLE_BLOCK

const response = await fetchNotionData(firstSection,'blocks', false);
const responseTitoli = await fetchNotionData(titoliDiStudio,'blocks', true);
const responseHidden = await fetchNotionData(hiddenTitle,'blocks', false);

const denominazione = response.heading_1.rich_text[0].text.content || "Romina Fabi";
const titoli : String[] = responseTitoli.results.map((row : Block) => {
	return row.table_row.cells![1][0].plain_text
}) || defaultTitoli;

const titoliConcatenati = titoli.join(", ");

const hidden = responseHidden.heading_3.rich_text[0].text.content || "Studio Olistico di Romina Fabi"
---
<section class="absolute top-0 left-0 w-full h-[100vh] md:h-[100vh] flex flex-col items-center justify-center" id="home">
   <div class=" bg-hero-pattern w-full h-full absolute top-0 left-0 bg-auto bg-bottom z-0 brightness-50" />
   <Social />
   <div class="flex flex-col justify-center items-center z-10 grow">
      <h1 class="sr-only">{hidden}</h1>
      <h2 class="text-5xl py-2 text-white">Romina Fabi</h2>
      <astro-titles id="typewriter" data-titoli={titoli} aria-hidden="true" class="text-md lg:text-lg uppercase tracking-widest py-4 text-white spacing" />
      <h3 class="sr-only">{titoliConcatenati}</h3>
   </div>
   <div class="flex flex-col w-full justify-center items-center pb-4 md:pb-0 z-10">
      <a
         href="https://rominafabi.it/servizi"
         target="_self"
         class="bg-opacity-80 backdrop-blur spacing text-xs my-4 py-4 px-8 bg-main rounded-lg text-white border border-gold hover:bg-white hover:text-main transition-all duration-300 text-center"
      >
         Scopri tutti i miei servizi
      </a>
      <a
      id="chevron_down"
      href="/#servizi"
      target="_self"
      data-te-smooth-scroll-init
      class="bg-opacity-80 backdrop-blur spacing text-xs py-4 px-4 my-4 bg-main rounded-full group text-white hover:bg-opacity-50 border border-gold transition-all duration-300"
   >
   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-down group-hover:scale-105 transition duration-300" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg>
   </a>
   </div>
</section>
<script>
	import Typewriter from "typewriter-effect/dist/core"
	class AstroTitles extends HTMLElement {
   	constructor() {
			super();

			const titoli = this.dataset.titoli || "Consulente Olistica, Operatrice Bioenergetica, Ricercatrice Spirituale";
			let array = titoli.split(",");

			new Typewriter('#typewriter', {
				strings: array,
				autoStart: true,
				loop: true,
				cursor: "",
				delay: 60,
			});
    	}
  }
  customElements.define('astro-titles', AstroTitles);
</script>
<style>
   .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



</style>