---
import fetchNotionData from "../../utils/fetchNotionData";
import createMenuItems from "../../utils/createMenuItems";
import type MenuItem from "../../interfaces/menuItems";
import getDefaultMenuItems from "../../utils/getDefaultMenuItems";

const { blockIdSubMenu, menuName } = Astro.props;

const defaultMenuItems = getDefaultMenuItems(menuName);

const menuList = await fetchNotionData(blockIdSubMenu, 'blocks', true);
const menuItems : MenuItem[] = createMenuItems(menuList, defaultMenuItems);

---
<ul class="-top-2 flex bg-white shadow-md rounded-md p-4 flex-col submenu">
   {
      menuItems.map((item: MenuItem) => (
         <li class="my-2">
            <a href={item.link} class="text-main p-4 hover:bg-main/70 backdrop-blur hover:text-white rounded-md lg:w-[200px] flex flex-row transition-all duration-300 border border-white hover:border-gold">
               <p class="text-xs tracking-widest grow">{item.denominazione}</p>
            </a>
         </li>
      ))
   }
   
</ul>