---
import fetchNotionData from "../../utils/fetchNotionData";
import type MenuItem from "../../interfaces/menuItems";
import SubMenu from "./SubMenu.astro";
import createMenuItems from "../../utils/createMenuItems";
import getDefaultMenuItems from "../../utils/getDefaultMenuItems";

const defaultMenuItems : MenuItem[] = getDefaultMenuItems('MAIN');

const menuListEnv = import.meta.env.MENU_LIST_BLOCK;
const menuList = await fetchNotionData(menuListEnv, 'blocks', true);
const menuItems : MenuItem[] = createMenuItems(menuList, defaultMenuItems);
---

<div class="w-full flex flex-row justify-center items-center gap-4">
  <menu class="hidden md:flex md:flex-row gap-4 justify-center items-center">
  {
    menuItems.map((items : MenuItem) => (
      <li class="group relative gap-1 list-none">
        <a href={items.link} class="flex flex-row items-center justify-center p-2">
          <p class="text-xs tracking-widest h-5 flex items-center justify-center text-white">{items.denominazione}</p>
          {items.hasChildren && (
          <svg class="w-3 h-3 group-hover:rotate-90 transition-all duration-300 fill-white"
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
          )}
        </a>
        {items.hasChildren && (
          <SubMenu blockIdSubMenu={items.blockIdSubMenu} menuName={items.denominazione} />
        )}
      </li>
    ))
  }
 </menu>

</div>